@font-face {
    font-family: 'pokemon';
    src: url(../assets/Staatliches-Regular.ttf);
    font-style: var(--color1);
    font-weight: var(--shadow);
    font-weight: bolder;
  }
body {
    --color1: teal;
    --color2: #ff8d0a;
    --color3: teal;
    --color4: teal;
    --color5: teal;
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'pokemon', sans-serif;
    background-color: var(--color2);
  
}

h2 {
    margin-right: 500px;
}
header {
    display: flex;
    background-color: teal;
    justify-content: flex-end;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#title {
    grid-row: auto;
    font-size: 2rem;
    margin-right: 500px;
    margin-left: 200px;
}

canvas {
    width: 75%;
    height: 500px;
  }

#play-again-button {
    margin-left: 500px;
    margin-bottom: 500px;
    width: 200px;
    height: 50px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'pokemon';
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
#play-again-button:hover {
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}