@font-face {
    font-family: 'pokemon';
    src: url(../assets/Orbitron-VariableFont_wght.ttf);
    font-style: var(--color1);
    font-weight: var(--shadow);
    font-weight: bolder;
  }
body {
    --color1: teal;
    --color2: #ff8d0a;
    --color3: teal;
    --color4: teal;
    --color5: teal;
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'pokemon', sans-serif;
    background-color: var(--color2);
    background-image: url(../assets/POKEMON\ BLACK.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 800px;
}


header {
    display: flex;
    background-color: rgb(43, 43, 43);
    justify-content: flex-end;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#Gotta {
    font-size: 3rem;
    color: yellow;
    border: var(--shadow);
    border-width: thick;
}

#title {
    grid-row: auto;
    font-size: 2rem;
    margin-right: 500px;
    margin-left: 200px;
}

#results {
    position: relative;
    margin-right: 200px;
    display: var(--shadow);


}

.score-container {
    color: rgb(151, 151, 151);
    font-size: 1.75rem;
    position: relative;
    justify-content: center;
}

.flex-row {
    display: grid;
    position: relative;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0);
    border-width: thick;
} 

img {
    display: inline;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #197dac;
    border: 5px solid #555;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 50;
    animation-fill-mode: forwards;

  }

img:hover {
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#reset-button {
    margin-left: 500px;
    width: 200px;
    height: 50px;
    background-color: #b6b6b6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'pokemon';
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
#reset-button:hover {
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}