@font-face {
    font-family: 'pokemon';
    src: url(../assets/Pokemon\ Solid.ttf);
    font-style: var(--color1);
  }
body {
    --color1: #e7e300;
    --color2: #ff8d0a;
    --color3: #ffffff;
    --color4: #b2bd1a;
    --color5: #ffffff;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'pokemon', sans-serif;
    background-color: var(--color2);
    background: url("../assets/background.JPG");
}


header {
    display: flex;
    background-color: teal;
    justify-content: flex-end;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#title {
    grid-row: auto;
    font-size: 2rem;
    margin-right: 500px;
    margin-left: 200px;
}

.captured-score {
    position: relative;
    justify-content: center;
}

.flex-row {
    position: relative;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0));
    border-width: thick;
    font-size: 2rem;
    font-weight: thin;
}
img {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
    img span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
    img span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
    img:hover span {
    padding-right: 25px;
  }
  
    img:hover span:after {
    opacity: 1;
    right: 0;
  }

#reset-button {
    position: center;
    justify-content: center;
}
